/**
 * @Project TIM
 * @author Alexandrine C. Sévigny <asevigny@outlook.fr>
 * @date Février 2020 - Version 1.0.0

 * -----------------------------
 * TABLE DES MATIÈRES - STYLES GUIDE DE STYLE
 * -----------------------------
 */

.gds {
  margin: 5em auto;
  max-width:1000px;
  background-image: url("../ressources/liaisons/images/ligne_moyenne.png");
  background-size: contain;
  &__titre {
    @include fontSize(60px);
    color: black;
  }
  &__sousTitre {
    color: $noir;
    background-color: $blanc;
    border: $ligneGris solid 1px;
    @include fontSize(30px);
    padding: 1rem;
    text-align: left;
  }
  &__categorie {
    border-bottom: 1px solid lightgray;
  }
  thead tr:first-child th {
    width: 51.2%;
  }
}