/**
 * @Project TIM
 * @author Alexandrine C. Sévigny <asevigny@outlook.fr>
 * @date Février 2020 - Version 1.0.0

 * -----------------------------
 * TABLE DES MATIÈRES - STYLES PAGE DES RÉALISATIONS
 * -----------------------------
 * Styles de la page des réalisations
 * Sections des filtres
 * Styles d'une réalisation
 * Style de la pagination
 * Styles du collapsible
 */

/* Styles de la page des réalisations */
.realisations {
  position: relative;
  .bg__realisations {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    background-size: contain;
    background-position: center;
    background-image: url("../ressources/liaisons/images/ligne_header_mobile.svg");
    @media (min-width: $mobile) {
      background-image: url("../ressources/liaisons/images/ligne_moyenne.svg");
    }
  }

  .conteneur {
    padding-top: 30px;
  }
  &__titre {
    @include fontSize(40px);
  }

  /* Sections des filtres */
  &__filtre {
    @media (min-width: $mobile) {
      padding: 30px 0;
    }
    &Texte {
      @include fontSize(24px);
      font-weight: 900;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    fieldset {
      border: none;
      padding: 0;
    }
    .annee {
      width: span(4 of 4);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (min-width: $mobile) {
        width: span(9 of 12);
        align-self: flex-start;
      }
      input[type="checkbox"] {
        display: none;
        & + label {
          width: 100%;
          text-align: center;
          margin: 5px 0;
          @media (min-width: $mobile) {
            width: span(3 of 9);
            text-align: center;
          }
        }
        &:checked + label {
          background-color: black;
          color: white;
        }
      }
    }
    .etudiant {
      margin: 20px 0;
      width: 100%;
      @media (min-width: $mobile) {
        width: span(3 of 12);
        margin: 0;
      }
    }
    .soumettre button {
      display: block;
      width: span(4 of 4);
      color: $bleu;
      text-transform: none;
      border: 5px $vertFonce solid;
      @media (min-width: $mobile) {
        width: 51.2%;
        margin-left: span(3 of 12)+gutter(12);
      }
    }
  }
  &__div,
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    &--space {
      justify-content: space-between;
    }
  }

  @media (min-width: $mobile) {
    .flex {
      margin-bottom: 30px;
    }
  }

  /* Section d'une réalisation */
  .realisation {
    border: 1px $ligneGris solid;
    padding: 20px 0;
    margin: 20px 0;
    @media (min-width: $mobile) {
      width: span(3 of 12);
      margin-right: gutter(12);
      &:nth-child(4n) {
        margin: 20px 0;
      }
    }
    &__footerLien {
      font-family: "Montserrat", sans-serif;
      font-weight: 400;
    }
    &__contenu {
      position: relative;
      &Chiffre {
        background: rgba(255, 255, 255, 0.7);
        position: absolute;
        right: 0;
        top: 0;
        text-align: right;
        padding: 5px;
        z-index: 1;
      }
    }
    &__headerAuteur {
      font-family: "Montserrat", sans-serif;
      font-weight: 800;
      @include fontSize(14px)
    }
  }
  /* Style de la pagination */
  .pagination {
    margin: 20px auto 50px;
    @include fontSize(18px);
    font-family: "Montserrat", sans-serif;
    .page-numbers {
      color: $noir;
      text-decoration: none;
      padding: 5px 20px 5px 0;
    }
    .current {
      font-weight: bold;
      background-image: linear-gradient(180deg, ($blanc) 0%, ($blanc) 50%, ($vert) 50%, ($vert) 100%);
    }
    .next,
    .prev {
      color: $noir;
      text-decoration: none;
      padding: 5px 20px 5px 0;
      background-image: linear-gradient(180deg, ($blanc) 0%, ($blanc) 50%, ($vert) 50%, ($vert) 100%);
      background-size: 100% 200%;
      transition: background-position .3s ease-in-out;
      transition-delay: 0.0s, 0.15s;
      background-position-y: 35%;

      &--hover,
      &--active,
      &:hover {
        background-position: -50% 100%;
      }
    }
  }

  /* Styles du collapsible */
  /* Source originale : https://codepen.io/raubaca/pen/PZzpVe?editors=1100 */
  .select {
    color: white;
    overflow: hidden;

    & > input[type ='checkbox'] {
      display: none;
    }

    &__label {
      display: flex;
      justify-content: space-between;
      padding: 1em;
      border: 3px black solid;
      color: black;
      font-weight: bold;
      cursor: pointer;
      @media (min-width: $mobile) {
        padding: 8px 1em;
      }

      &:hover {
        background: $grisPale;
      }

      &::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all 0.3s ease-in-out;
      }
    }

    &__content {
      max-height: 0;
      padding: 0 1em;
      color: $bleu;
      background: $grisPale;
      transition: all 0.3s ease-in-out;

      .etudiantInput {
        margin: 0;
        padding: 10px 0;
        input {
          display: none;
          & + label {
            border: 3px black solid;
            padding: 5px 10px;
            font-family: "Montserrat", sans-serif;
            @include fontSize(14px);
            font-weight: bold;
            background: white;
            width: 100%;
            display: inline-block;
            text-align: center;

            &:hover {
              background: $grisPale;
            }
          }
          &:checked + label {
            background: black;
            color: white;
          }
        }
      }
    }

    input:checked + .select__label {
      background: black;
      color: white;

      &::after {
        transform: rotate(90deg);
      }
    }

    input:checked ~ .select__content {
      max-height: 50vh;
      padding: 1em;
      overflow: scroll;
    }
  }
}




